@model LoginVM
@inject SignInManager<IdentityUser> SignInManager
@inject IViewLocalizer Localizer

@{
    ViewData["PageTitle"] = Localizer["Sign in"];
}

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}

<section>
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <h4>@Localizer["Sign in to"] Caché.</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email">@Localizer["Email"]</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">@Localizer["Password"]</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-check">
            <input asp-for="RememberMe" class="form-check-input" />
            <label asp-for="RememberMe" class="form-check-label">@Localizer["Stay signed in"]</label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-secondary">@Localizer["Sign in"]</button>
        </div>
        <p>
            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">@Localizer["Create account"]</a>
        </p>
    </form>
</section>
