@model RegisterVM

@inject IViewLocalizer Localizer

@{
    ViewData["PageTitle"] = Localizer["Register"];
}

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <h4>@Localizer["Create new account"]</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email">@Localizer["Email"]</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">@Localizer["Password"]</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword">@Localizer["Confirm password"]</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">@Localizer["Sign up"]</button>
    </div>
</form>