@model IReadOnlyCollection<CategoryWithDepthVM>
@inject IViewLocalizer Localizer

@{
    ViewData["PageTitle"] = Localizer["Categories"];

    int maxDepth = Model.Any() ? Model.Max(c => c.Depth) : 0;
}

@section scripts {
    <partial name="_CategoriesScriptsPartial" />
}

<h2>@Localizer["Categories"]</h2>

<p>
    <a asp-action="Create">@Localizer["Add"]</a>
</p>

<table class="table">
    <thead>
        <tr>
            @for (int i = 0; i < maxDepth + 1; i++)
            {
                <th class="fit"></th>
            }
            <th>@Localizer["Category"]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (CategoryWithDepthVM item in Model)
        {
            <tr data-id="@item.Id">
                @for (int i = 0; i < item.Depth; i++)
                {
                    <td>&nbsp;</td>
                }
                <td>
                    <input type="text" class="form-control category-colorpicker" data-color="@item.Color" style="background-color: @item.Color;" />
                </td>
                @for (int i = 0; i < maxDepth - item.Depth; i++)
                {
                    <td>&nbsp;</td>
                }
                <td>
                    <input type="text" class="form-control category-name" value="@item.Name" />
                </td>
                <td>
                    <select class="form-control category-parent" asp-items="@(new SelectList(item.ParentCandidates, nameof(CategoryVM.Id), nameof(CategoryVM.Name), item.ParentId))">
                        <option selected="selected" value="">@Localizer["[ root category ]"]</option>
                    </select>
                </td>
                <td class="text-right">
                    <button class="btn btn-success btn-xs modified-only save-changes">
                        @Localizer["save changes"]
                    </button>
                    <a asp-action="Delete" asp-controller="Categories" asp-area="" asp-route-id="@item.Id" class="btn btn-outline-danger btn-xs">
                        @Localizer["delete"]
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>