@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@model IReadOnlyCollection<CategoryWithDepthVM>
@inject IOptions<RequestLocalizationOptions> LocOptions
@inject IViewLocalizer Localizer

@{
    ViewData["PageTitle"] = Localizer["Categories"];

    var cultures = LocOptions.Value.SupportedUICultures
        .Skip(1)
        .Select(culture => new { Culture = culture.Name, Name = culture.DisplayName })
        .ToArray();

    int maxDepth = Model.Any() ? Model.Max(c => c.Depth) : 0;
}

@section scripts {
    @await Html.PartialAsync("_CategoriesScriptsPartial")
}

<h2>@Localizer["Categories"]</h2>

<p>
    <a asp-action="Create">@Localizer["Add"]</a>
</p>

<table class="table">
    <thead>
    <tr>
        @for (int i = 0; i < maxDepth + 1; i++)
        {
            <th class="fit"></th>
        }
        <th>@Localizer["Default name"]</th>
        @foreach (var culture in cultures)
        {
            <th>@Localizer["{0} translate", culture.Name]</th>
        }
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (CategoryWithDepthVM item in Model)
    {
        <tr data-id="@item.Id">
            @for (int i = 0; i < item.Depth; i++)
            {
                <td>&nbsp;</td>
            }
            <td>
                <a class="btn btn-default btn-sm colorpicker category-color" style="background-color: #@item.Color" data-color="@item.Color">&nbsp;</a>
            </td>
            @for (int i = 0; i < maxDepth - item.Depth; i++)
            {
                <td>&nbsp;</td>
            }
            <td contenteditable="true">
                @item.Name
            </td>
            @foreach (var culture in cultures)
            {
                var localization = item.Localizations.SingleOrDefault(loc => loc.Culture == culture.Culture);
                if (localization != null)
                {
                    <td contenteditable="true">@localization.Name</td>
                }
                else
                {
                    <td contenteditable="true" class="empty">@item.Name</td>
                }
            }
            <td>
                <select class="form-control category-parent" asp-items="@(new SelectList(item.ParentCandidates, "Id", "DisplayName", item.ParentId))">
                    <option selected="selected" value="">@Localizer["[ root category ]"]</option>
                </select>
            </td>
            <td class="text-right">
                <button class="btn btn-success btn-xs modified-only save-changes">
                    @Localizer["save changes"]
                </button>
                <a asp-action="Delete" asp-controller="Categories" asp-area="" asp-route-id="@item.Id" class="btn btn-danger btn-xs">
                    @Localizer["delete"]
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>