@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Http

@inject IHostingEnvironment env
@inject IViewLocalizer Localizer

@{
    var app = Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application;
    string version = app.ApplicationVersion;
    DateTime buildDate = System.IO.File.GetLastWriteTimeUtc(app.ApplicationBasePath);
    string buildDateString = buildDate.ToString(DioLive.Cache.WebUI.Binders.DateTimeModelBinder.DateFormat);
    Guid? budgetId = Context.Session.GetGuid(nameof(SessionKeys.CurrentBudget));
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["PageTitle"] • Caché</title>

    <link rel="icon" href="~/images/cache-favicon.png" />

    <environment names="Development">
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/bootstrap-datepicker3.css" />
        <link rel="stylesheet" href="~/css/bootstrap-slider.css" />
        <link rel="stylesheet" href="~/css/bootstrap-override.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/sandstone/bootstrap.min.css"
              asp-fallback-href="~/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Caché</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated && budgetId.HasValue)
                    {
                        <li><a asp-area="" asp-controller="Purchases" asp-action="Index">@Localizer["Purchases"]</a></li>
                        <li><a asp-area="" asp-controller="Categories" asp-action="Index">@Localizer["Categories"]</a></li>
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="col-md-6">
                <p>&copy; 2016 DioLive Studio &mdash; Caché @app.ApplicationVersion (@buildDateString)</p>
            </div>
            <div class="col-md-6 text-right">
                @await Html.PartialAsync("_SelectLanguagePartial")
            </div>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/js/lib/jquery.js"></script>
        <script src="~/js/lib/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/js/lib/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/js/lib/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
    </environment>

    <script>
        var CFG = {};
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>