@inject IViewLocalizer Localizer

@{
    Layout = "_Layout";

    ViewData["PageTitle"] = Localizer["Purchases"];
}

@section scripts {
    <partial name="_TooltipsScriptsPartial" />
    <partial name="_PurchasesHotkeysScriptsPartial" />
    <partial name="_PurchasesCollapsingScriptsPartial" />
    @await RenderSectionAsync("scripts", false)
}

<header class="row">
    <span class="h2">
        @ViewData["BudgetName"]
        <a asp-area="" asp-controller="Budgets" asp-action="Manage" class="h6">
            <span class="oi oi-cog" title="@Localizer["Settings"]"></span>
        </a>
    </span>
    <span class="ml-auto my-auto">
        @Localizer["Author:"] <span class="oi oi-person"></span> @ViewData["BudgetAuthor"]
    </span>
</header>

@RenderBody()