@model PurchaseVM
@inject IViewLocalizer Localizer

<tr class="@ViewData["rowClass"]">
    <td>
        <a asp-action="Edit" asp-route-id="@Model.Id">
            <i class="oi oi-pencil"></i>
        </a>
    </td>
    <td>
        <span class="badge category-color" style="background-color: #@(Model.Category.Color);">&nbsp;</span>
        @Html.DisplayFor(model => model.Name)
        @if (Model.Comments != null)
        {
            <i class="oi oi-comment-square text-info" data-toggle="tooltip" data-placement="bottom" title="@Model.Comments"></i>
        }
    </td>
    <td>
        @Html.DisplayFor(model => model.Cost)
    </td>
    <td>
        @Html.DisplayFor(model => model.Shop)
    </td>
    <td>
        @Html.DisplayFor(model => model.Category.Name)
    </td>
</tr>