@model IEnumerable<PurchaseVM>
@inject IViewLocalizer Localizer

<table class="table table-purchases">
    <thead>
    <tr>
        <th></th>
        <th>
            @Localizer["Name"]
        </th>
        <th>
            @Localizer["Cost"]
        </th>
        <th>
            @Localizer["Point of sale"]
        </th>
        <th>
            @Localizer["Category"]
            <a asp-area="" asp-controller="Categories" asp-action="Index" title="@Localizer["Edit categories"]">
                <i class="glyphicon glyphicon-cog"></i>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (IGrouping<DateTime, PurchaseVM> byDate in Model.GroupBy(m => m.Date))
    {
        <tr class="day-row">
            <th></th>
            <th>
                @Html.DisplayFor(modelItem => byDate.First().Date)
            </th>
            <th>
                @string.Format(Constants.CostDisplayFormat, byDate.Sum(g => g.Cost))
            </th>
            <th colspan="2"></th>
        </tr>
        foreach (IGrouping<string?, PurchaseVM> purchaseGroup in byDate.GroupBy(g => g.Shop))
        {
            <partial name="_PurchaseGroupPartial" model="purchaseGroup"/>
        }
    }
    </tbody>
</table>