@model EditPurchaseVM
@inject IViewLocalizer Localizer

@{
    ViewData["PageTitle"] = Localizer["Edit purchase"];
}

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_DatePickersScriptsPartial" />
    <partial name="_FastDateSelectorsScriptsPartial" />
    <partial name="_AutoSizeTextAreaScriptsPartial" />
    <partial name="_TypeaheadScriptsPartial" />
}

<h2>@Localizer["Edit purchase"]</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <div class="pull-right text-right">
            <h6>
                @Localizer["Author:"]
                <img src="@Url.Action("Photo", "Manage", new { id = Model.AuthorId })" class="img-rounded" alt="avatar" />
                @Model.AuthorName
            </h6>
            @if (!(Model.LastEditorId is null))
            {
                <h6>
                    @Localizer["Last editor:"]
                    <img src="@Url.Action("Photo", "Manage", new { id = Model.LastEditorId })" class="img-rounded" alt="avatar" />
                    @Model.LastEditorName
                </h6>
            }
        </div>
        <h4>@Localizer["Purchase"]</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="AuthorId" />
        <input type="hidden" asp-for="AuthorName" />
        <input type="hidden" asp-for="LastEditorId"/>
        <input type="hidden" asp-for="LastEditorName"/>

        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label">@Localizer["Name"]</label>
            <div class="col-md-4">
                <input asp-for="Name" class="form-control typeahead-names" autocomplete="off" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <label asp-for="Cost" class="col-md-1 control-label">@Localizer["Cost"]</label>
            <div class="col-md-2">
                <div class="input-group">
                    <input asp-for="Cost" class="form-control" />
                    <div class="input-group-addon">₽</div>
                </div>
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <label asp-for="Date" class="col-md-1 control-label">@Localizer["Date"]</label>
            <div class="col-md-2">
                <input asp-for="Date" class="form-control datepicker" />
                <a class="set-date-today">@Localizer["Today"]</a> @Localizer["or"] <a class="set-date-yesterday">@Localizer["Yesterday"]</a>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId" class="control-label col-md-2">@Localizer["Category"]</label>
            <div class="col-md-4">
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <label asp-for="Shop" class="col-md-1 control-label">@Localizer["Point of sale"]</label>
            <div class="col-md-5">
                <input asp-for="Shop" class="form-control typeahead-shops" autocomplete="off" />
                <span asp-validation-for="Shop" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Comments" class="col-md-2 control-label">@Localizer["Comment"]</label>
            <div class="col-md-10">
                <textarea asp-for="Comments" class="form-control"></textarea>
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">@Localizer["Save changes"]</button>
                <a asp-area="" asp-controller="Purchases" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger pull-right">@Localizer["Delete purchase"]</a>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">@Localizer["Back to list"]</a>
</div>