@model PurchasesPageVM
@inject IViewLocalizer Localizer
@inject ICurrentContext CurrentContext

@{
    Layout = Model.Plans != null
        ? "_PurchasesWithPlansLayout"
        : "_PurchasesBaseLayout";
}

<form class="form-inline">
    <div class="input-group filter-text">
        <input type="text" class="form-control" placeholder="@Localizer["filter text"]" name="filter" value="@Context.Request.Query["filter"]">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-filter"></i>
            </button>
        </span>
    </div>
</form>

<a asp-area="" asp-controller="Purchases" asp-action="Create" class="btn btn-success" id="addPurchaseButton" title="@Localizer["hotkey: P"]">
    <i class="glyphicon glyphicon-shopping-cart"></i>
    @Localizer["Add a purchase"]
</a>

<table class="table table-purchases">
    <thead>
    <tr>
        <th></th>
        <th>
            @Localizer["Name"]
        </th>
        <th>
            @Localizer["Cost"]
        </th>
        <th>
            @Localizer["Point of sale"]
        </th>
        <th>
            @Localizer["Category"]
            <a asp-area="" asp-controller="Categories" asp-action="Index" title="@Localizer["Edit categories"]">
                <i class="glyphicon glyphicon-cog"></i>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (IGrouping<DateTime, PurchaseVM> byDate in Model.Purchases.GroupBy(m => m.Date))
    {
        <tr class="day-row">
            <th></th>
            <th>
                @Html.DisplayFor(modelItem => byDate.First().Date)
            </th>
            <th>
                @string.Format(Constants.CostDisplayFormat, byDate.Sum(g => g.CostValue), CurrentContext.Budget?.Currency)
            </th>
            <th colspan="2"></th>
        </tr>
        foreach (IGrouping<string?, PurchaseVM> purchaseGroup in byDate.GroupBy(g => g.Shop))
        {
            <partial name="_PurchaseGroupPartial" model="purchaseGroup"/>
        }
    }
    </tbody>
</table>