@inject IViewLocalizer Localizer

@{
    ViewData["PageTitle"] = Localizer["Charts"];
}

@section scripts {
    @await Html.PartialAsync("_ChartsScriptsPartial")
}

<div>
    <div class="row">
        <div class="col-md-6">
            <h2>@Localizer["Week"]</h2>
            <div id="weekChart" class="chart"></div>
        </div>
        <div class="col-md-6">
            <h2>@Localizer["Month"]</h2>
            <div id="monthChart" class="chart"></div>
        </div>
        <div class="col-md-6">
            <h2>@Localizer["3 months"]</h2>
            <div id="months3Chart" class="chart"></div>
        </div>
        <div class="col-md-6">
            <h2>@Localizer["6 months"]</h2>
            <div id="months6Chart" class="chart"></div>
        </div>
        <div class="col-md-6">
            <h2>@Localizer["Year"]</h2>
            <div id="yearChart" class="chart"></div>
        </div>
        <div class="col-md-6">
            <h2>@Localizer["Total"]</h2>
            <div id="totalChart" class="chart"></div>
        </div>
    </div>
    <div class="row">
        <div>
            <h2>@Localizer["Monthly stats"]</h2>
            <div id="statChart" class="chart"></div>
        </div>
    </div>
</div>