@model PurchaseVM
@inject IViewLocalizer Localizer

<tr>
    <td>
        <a asp-action="Edit" asp-route-id="@Model.Id">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
    </td>
    <td>
        <span class="label category-color" style="background-color: #@(Model.Category.Color);">&nbsp;</span>
        @Html.DisplayFor(model => model.Name)
        @if (Model.Comments != null)
        {
            <i class="glyphicon glyphicon-comment text-info" data-toggle="tooltip" data-placement="bottom" title="@Model.Comments"></i>
        }
    </td>
    <td>
        @Html.DisplayFor(model => model.Cost)
    </td>
    <td>
        @Html.DisplayFor(model => model.Shop)
    </td>
    <td>
        @Html.DisplayFor(model => model.Category.DisplayName)
    </td>
</tr>