@model IEnumerable<Purchase>

@{
    ViewData["PageTitle"] = "Index";
}

@section scripts {
    @await Html.PartialAsync("_TooltipsScriptsPartial")
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.GroupBy(m => m.Date))
        {
            <tr class="warning">
                <th colspan="4">
                    @Html.DisplayFor(modelItem => group.First().Date)
                </th>
            </tr>
            @foreach (var item in group)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                        @if (item.Comments != null)
                        {
                            <span class="label label-comments" data-toggle="tooltip" data-placement="bottom" title="@item.Comments">comments</span>
                        }
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Shop)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>