@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["PageTitle"] = Localizer["Home Page"];
}

<div class="jumbotron jumbotron-success">
    <h1><strong>Caché</strong> @Localizer["is a home financial management service"].</h1>
    <p>&nbsp;</p>
    @if (User.Identity.IsAuthenticated)
    {
        <p><a asp-area="" asp-controller="Purchases" asp-action="Index">@Localizer["Go to your purchases"]</a> @Localizer["or"] <a asp-area="" asp-controller="Categories" asp-action="Index">@Localizer["edit categories list"]</a>.</p>
    }
    else
    {
        <p><a asp-area="" asp-controller="Account" asp-action="Register">@Localizer["Register new account"]</a> @Localizer["or"] <a asp-area="" asp-controller="Account" asp-action="Login">@Localizer["log in with existing one"]</a> @Localizer["and begin controlling your money flow"].</p>
    }
</div>